a{
    color: red;
    text-decoration: none;
}
.a:hover{
    color: red;
}
.U-title{
    border-bottom: 2px dashed red;
    color: #ff0000;
    font-size: 1.5em;
    font-weight: normal;
    text-align: center;
    padding-bottom: .5em;
}
.Footer{
    background-image: url('/assets/images/fondo-inferior.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}
.Footer-left{
    display: inline-block;
    width: 50%;
    text-align: center;
    vertical-align: top;
    color: black;
    font-weight: lighter;
    font-size: 2.5em;
}
.Footer-form{
    display: inline-block;
    text-align: center;
    padding: 2em 0;
}
.Footer-formInput, .Footer-textArea{
    background-color: rgb(238, 255, 83);
    border: none;
    display: block;
    border-radius: 2em;
    padding: .5em;
    margin: 0 auto 1em;
}
.Footer-button{
    background-color: red;
    color: black;
    border-radius: 1em;
    border: none;
    padding: .5em 1em;
}
.icono{

    width: 20%;
    height: 20%;
    padding: .1% 2%;
    margin-top: 2%;
}
