a{
    color: red;
    text-decoration: none;
}
.a:hover{
    color: red;
}
.U-title{
    border-bottom: 2px dashed red;
    color: red;
    font-size: 1.5em;
    font-weight: normal;
    text-align: center;
    padding-bottom: .5em;
}
/* Design for Header*/
.Header{
    background-image: url('/assets/images/fondo-superior.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 60%;
    margin-top: 3.75em;
    text-align: center;
}
.Header-image{
    width: 22%;
    border-radius: 50%;
    margin-top: 2em;
    margin-bottom: .7em;
    transition: 1s;
}
.Header-image:hover{
    transform: rotate(360deg);
}
.Header-name{
    color: white;
    font-size: 1.5em;
    font-weight: lighter;

}
.Header-link a{
    color: white;
    font-size: 3.2em;
    font-weight: bold;
}
.MainMenu{
  background-color: #111E1E;
  text-align: center;  

  height: 3.75em;
  line-height: 3.75em;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index:1;
}

.MainMenu-link{
    margin-right: 1.5em;
    margin-left: 3%;
    
}
@media screen and (max-width:600px){
    .MainMenu-link{
       margin-right: 3%;
    }
}
.MainMenu-list{
    display: inline-block;
    margin: 0;
    width: 100%;
    font-size: 400%;
}
.MainMenu-list-1{
    display: inline-block;
    margin: 0;
    
    
}
.MainMenu-list-1:hover{
    background-color: rgb(17, 44, 25);

}
.fas{
    font-size: 5em;
    color:white;
    background-color: chocolate;
    border-radius: 50%;
    border: 5px solid;
    padding: .1em;
    position: relative;
    bottom: 2em;
}

@media screen and (max-width:1000px){
    .fas{
        font-size:2.5em;
        border: 2.5px solid;
        bottom: .5em;
    }
}

@media screen and (max-width:1400px) and (min-width:1000px){
    .fas{
        font-size:5em;
        border: 2.5px solid;
        bottom: 1em;
    }
}