<!--Begin section of Works-->
<section id="works" class="Works">
    <h2 class="U-title Works-title">Productos Navideños</h2>
    <article class="Works-item">
        <figure class="Works-imageContainer">
            <img class="Works-image" src="/assets/images/1.jpg" alt="Image of Project">
            <figcaption class="Works-description">
                Arbol navideño
                <br>
                320.000$
                <br>
                Ref: #0001
            </figcaption>
        </figure>
    </article>
    <article class="Works-item">
        <figure class="Works-imageContainer">
            <img class="Works-image" src="/assets/images/3.jpg" alt="Image of Project">
            <figcaption class="Works-description">
                Bolas plateadas
                <br>
                10.000$ c/u
                <br>
                Ref: #0002
            </figcaption>
        </figure>
    </article>
    <article class="Works-item">
        <figure class="Works-imageContainer">
            <img class="Works-image" src="/assets/images/2.jpg" alt="Image of Project">
            <figcaption class="Works-description">
                Arbol navideño economico
                <br>
                99.990$ 
                <br>
                Ref: #0003
            </figcaption>
        </figure>
    </article>
    <article class="Works-item">
        <figure class="Works-imageContainer">
            <img class="Works-image" src="/assets/images/4.jpg" alt="Image of Project">
            <figcaption class="Works-description">
                Casa colgante
                <br>
                55.000$
                <br>
                Ref: #0004
            </figcaption>
        </figure>
    </article>
    <article class="Works-item">
        <figure class="Works-imageContainer">
            <img class="Works-image" src="/assets/images/5.jpg" alt="Image of Project">
            <figcaption class="Works-description">
                Estrella colgante
                <br>
                20.000$
                <br>
                Ref: #0005
            </figcaption>
        </figure>
    </article>
    <article class="Works-item">
        <figure class="Works-imageContainer">
            <img class="Works-image" src="/assets/images/6.jpg" alt="Image of Project">
            <figcaption class="Works-description">
                Auto colgante
                <br>
                55.000$
                <br>
                Ref: #0006
            </figcaption>
        </figure>
    </article>
    <article class="Works-item">
        <figure class="Works-imageContainer">
            <img class="Works-image" src="/assets/images/7.jpg" alt="Image of Project">
            <figcaption class="Works-description">
                Media colgante
                <br>
                25.000$
                <br>
                Ref: #0007
            </figcaption>
        </figure>
    </article>
    <article class="Works-item">
        <figure class="Works-imageContainer">
            <img class="Works-image" src="/assets/images/8.jpg" alt="Image of Project">
            <figcaption class="Works-description">
                Figura copo de nieve
                <br>
                9.990$
                <br>
                Ref: #0008
            </figcaption>
        </figure>
    </article>
    <article class="Works-item">
        <figure class="Works-imageContainer">
            <img class="Works-image" src="/assets/images/9.jpg" alt="Image of Project">
            <figcaption class="Works-description">
                Arbol de nieve sencillo
                <br>
                200.000$
                <br>
                Ref: #0009
            </figcaption>
        </figure>
    </article>
</section>
<!--End section of Works-->
