a{
    color: red;
    text-decoration: none;
}
.a:hover{
    color: red;
}
.U-title{
    border-bottom: 2px dashed red;
    color: red;
    font-size: 1.5em;
    font-weight: normal;
    text-align: center;
    padding-bottom: .5em;
    margin: 0;
}
/*Design for Works*/
.Works{
    background-color: black; 
    text-align: center; 
}
.Works-imageContainer{
    margin: 1em 0;
    border-right: 10px solid black;
    height: 30em;

}
.Works-image{
    width: 100%;
    height: 100%;
 
    
}
.Works-item{
    display: inline-block;
    width: 32%;
}
.Works-description{
    color: white;
    text-align: center;
}
.Works-title{
    padding-top: 1em;
}
/*End Design Works*/