a{
    color: red;
    text-decoration: none;
}
.a:hover{
    color: red;
}
.U-title{
    border-bottom: 2px dashed red;
    color: red;
    font-size: 1.5em;
    font-weight: normal;
    text-align: center;
    padding-bottom: .5em;
}