<script src="https://kit.fontawesome.com/f25e652305.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap" rel="stylesheet">
<app-header></app-header>
<app-profile></app-profile>
<app-work></app-work>
<app-footer></app-footer>

