a{
    color: red;
    text-decoration: none;
}
.a:hover{
    color: red;
}
.U-title{
    border-bottom: 2px dashed red;
    color: red;
    font-size: 1.5em;
    font-weight: normal;
    text-align: center;
    padding-bottom: .5em;
}
.Profile{
    text-align: center;
    background-color: black;
}
.Profile-description{
    color: white;
    font-weight: lighter;
    font-size: 1.2em;
}

.icono{

    width: 5%;
    height: 5%;
    padding: .1% 2%;
    margin-top: 2%;
}
@media screen and (max-width:600px){
    .icono{
        display: inline-block;
        width: 8%;
        height: 8%;
    }   
}


.Profile-title, .Works-title{
    margin-top: 0;
    padding-top: .3em;
}